body, div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#container {
    background-color: peachpuff;
    width: 35%;
    padding: 4%;
    margin-top: 30px;
    border:  3px solid darkgoldenrod;
    border-collapse: collapse;
}

.button {
    width: 150px;
    height: 50px;
}

body {
    background-color: rgb(253, 244, 163);
}

h1, h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: sienna;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid darkgoldenrod;
    border-collapse: collapse;
    background-color:lightcoral;
    font-size: 18px;
    padding: 5px;
    margin: 4px;
    width: 100%;
    text-align: center;
    color: brown;
}

#start, button {
    overflow: auto;
    clear: both;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 110px;
    height: 60px;
    background-color: indianred;
    border: 2px solid darkgoldenrod;
    color: brown;
}

button {
    margin: 10px;
    width: 200px;
}